// COLOR
$color-primary-light: #ff704d;
$color-primary-medium: #cc2900;
$color-primary-dark: #b32400;

$color-gray-dark: #777;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-white: #fff;
$color-black: #000;

//GRID
$grid-width: 114rem;
$gutter-vartical: 8rem;
$gutter-horizontal: 6rem;

// Font
$default-font-size: 1.6rem;

// Card
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
